{% extends "layout.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kiite/style.css' %}">

	<div class="demo demo0">
		<div class="heading">{{ story.title }}</div>
	</div>
	<div class = "box11_1">
		<p>{{ story.text }}</p>
	</div>
	<div class="hidden_box">
	<label for="label1">この話のP.S.をみる</label>
	<input type="checkbox" id="label1"/>
		<div class="hidden_show">
      <!--非表示ここから-->     
			<p>P.S. : {{ story.ps }}</p>
      <!--ここまで-->
		</div>
	</div>
	<div align="right"><p>{{ story.created_at }}</p></div>

	
	<div>
		<a href = "{% url 'kiite:edit' story.pk %}" class = "btn btn-outline-primary">編集</a>
		<a href = "{% url 'kiite:home' %}" class = "btn btn-outline-secondary">戻る</a>
	</div>

{% endblock %}